# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.list-tutorial.iml
# Datasource local storage ignored files
/../../../../../../../:\Project\Code\list-tutorial\.idea\.idea.list-tutorial.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
