# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebAPIClient.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Project\Code\WebAPIClient\.idea\.idea.WebAPIClient.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
