# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.denoCsharp.iml
# Datasource local storage ignored files
/../../../../../../../:\Project\Code\denoCsharp\.idea\.idea.denoCsharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
